<body *ngIf="isAdmin" style="height: 100%">
<section>
  <div  class="container">
    <div  class="main-body">
      <div class="row gutters-sm mt-5 d-flex justify-content-center"
           style="position: relative">
        <div class="pricing-header">
          <h1 class="display-5" style="font-family: 'Comfortaa', cursive;font-size: 25px;
  background: -webkit-linear-gradient(#000000, #38e5e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">UPDATE PROFILE</h1>
          <hr style="opacity: .1;"/>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card" style="box-shadow: none;background: none;border: none">
            <div class="card-body my-2">
              <div  class="d-flex flex-column align-items-center text-center position-relative">
                <img width="86%" src="{{user.srcImageAvatar}}"/>

                <i class="bi bi-pencil" (click)="updateAvatar()"  style="position: absolute;right: 5%; bottom: 10px; color: #1a202c"></i>
                <input class="py-2" *ngIf="clickUpdate"  style="border: none; outline: none; border-bottom: 1px solid black;" placeholder="URL image avatar" name="srcImageAvatar" [(ngModel)]="user.srcImageAvatar" type="text">

              </div>
            </div>
          </div>
        </div>
        <div *ngIf="openModalSearch" class="col-md-8" >
          <div class="card mb-3" >
            <div class="card-body" >
              <div>
                <i (click)="openModalSearch = !openModalSearch" class="bi bi-x-lg" style="float: right"></i>
              </div>
              <div *ngIf="courses.length<=0" class="row">
                Courses not available
              </div>
              <div *ngIf="courses.length>0" class="row">


                <div class="container mt-5 mb-5 " style="overflow-y: scroll;max-height: 342px">
                  <div class="d-flex justify-content-center row" >
                    <div class="col-md-10" style="overflow: visible">
                      <div class="row p-2 bg-white border rounded-0 d-flex justify-content-center align-items-center"*ngFor="let course of courses">
                        <div class="col-md-3 mt-1" ><img style="width: 120px;" src="{{course.imgCourse}}"></div>
                        <div class="col-md-6 mt-1">
                          <h5 style="font-size: 17px;color: rgba(229,154,77,0.51)">{{course.nameCourse}}</h5>
                          <div class="d-flex flex-row">
                            <span style="font-size: 14px">{{course.discriptionCourse}}</span>
                          </div>

                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                          <div class="d-flex flex-row align-items-center">
                            <h4 style="color:#ff9700;font-size: 15px" class="mr-1">${{course.cost}}</h4>
                          </div>
                          <div >
                            <button style="color: #4de5d3;font-size: 20px" (click)="addCourse(course.idCourse)" class="btn p-1 rounded-0" type="button"><i class="bi bi-plus-circle"></i></button>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!openModalSearch" class="col-md-8" >
          <div class="card mb-3">
            <div class="card-body">
              <div class="row d-flex">

                <div class="input-container" style="position:relative;">

                  <input placeholder="Fullname" [(ngModel)]="user.fullname" id="input-field" type="text">
                  <i class="bi bi-pencil" style="position: absolute;right: 30px;top: 30%;color: #1a202c"></i>
                  <label for="input-field" class="input-label">FULL NAME:</label>
                  <small style="color:red;" *ngIf="invalidFullname">
                    This field can't be empty.
                  </small>
                  <span class="input-highlight"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="my-2">ID :</h6>
                </div>
                <div class="col-sm-9 text-secondary mt-2 text-warning">
                  {{user.id}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="my-2">USERNAME :</h6>
                </div>
                <div class="col-sm-9 text-secondary mt-2 text-warning">
                  {{user.username}}
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="my-2">ROLE :</h6>
                </div>
                <div class="col-sm-9 text-secondary mt-2 d-flex text-warning" >
                  <h6 class="mb-0 me-4 "><select style="border: none;outline:none ;background: none" name="role" [(ngModel)]="role">
                    <option  class="text-center" [selected]="author === role"  *ngFor="let author of listRolesDefault" [value]="author">{{author.slice(5)}}</option>
                  </select>
                  </h6>

                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="my-2">BALANCE :</h6>
                </div>
                <div class="col-sm-9 text-secondary mt-2">
                  <button *ngIf="user.balance>0" (click)="decreaseBanlace()" style="color: #ef9f2f;background: transparent;border: none;padding:5px;padding-left: 0;padding: 5px;"><i class="bi bi-dash-circle"></i></button>
                  <input class="text-center" type="number" style="padding: 0 20px;outline: none;background: transparent;border: none;" name="balance" [(ngModel)]="this.user.balance" />
                  <button *ngIf="user.balance<=9998" (click)="increaseBanlace()" style="color: #ef9f2f;background: transparent;border: none;padding:5px;padding-left: 0;padding: 5px;"><i class="bi bi-plus-circle"></i></button>

                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="my-2">COURSES :</h6>
                </div>
                <div class="col-sm-9 text-secondary mt-1" style="position: relative">
                  <button (click)="openTabAdd()" class="p-2" style="background: rgba(178,177,177,0.46);color: #102770;margin-bottom: 20px;border: 1px solid rgba(128,128,128,0.19)">
                    <i class="bi bi-plus-circle-fill" style="color: #e59a4d;"></i>
                    Add new course
                  </button>
                  <div *ngFor="let course of this.user.listCourse" class="d-flex justify-content-start">
                    <p style="padding-right: 50px">- {{course.nameCourse}} -</p>
                    <i (click)="deleteCourse(course.idCourse)" class="bi bi-trash3" style="color:red;position: absolute; right: 40%"></i>
                  </div>


                </div>
              </div>
              <hr>
              <div  class=" mb-3">
                <input class="m-2" name="newPassword" [(ngModel)]="this.newPassword"  type="password" placeholder="New password" >
                <br><small style="color: red" *ngIf="noSatisfyLength">Minimum password length is 5 characters.</small>
              </div>
              <div class=" mb-3">
                <button type="submit" (click)="updateUser()"  style="float: right; color: white;background: #1a202c;border: none"  class="btn btn-warning rounded-0">Update</button>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</section>
</body>
<div class="text-center p-3 display-5 text-danger" *ngIf="!isAdmin">ACCESS DENIED </div>



