
<div class="section">
  <div class="container ">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center">
        <div class="section p-5 pt-sm-2 text-center">
          <div class="pricing-header mx-auto text-center">
            <h1 class="display-5" style="font-family: 'Comfortaa', cursive;">REGISTER</h1>
          </div>
          <div class="card-3d-wrap mx-auto" style="height: 450px">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap ">
                  <form (ngSubmit)="registerUser()" class="section text-center">
                    <div class="form-group mt-4 text-start">
                      <input type="text" name="fullname" class="form-style" placeholder="Fullname" [(ngModel)]="user.fullname"  autocomplete="off">
                      <span *ngIf="invalidFullname"  class="p-2 my-2" style="color: red;font-size: 14px"> Invalid</span>
                    </div>
                    <div class="form-group mt-4 text-start">
                      <input type="text" name="username" class="form-style" placeholder="Username" [(ngModel)]="user.username"  autocomplete="off">
                      <span *ngIf="invalidUserName"  class="p-2 my-2" style="color: red;font-size: 14px">Invalid</span>
                      <span *ngIf="existAccount"  class="p-2 my-2" style="color: red;font-size: 14px">Username is already</span>

                    </div>
                    <div class="form-group mt-4 text-start">
                      <input type="password" name="password" class="form-style" placeholder="Password" [(ngModel)]="user.password"  autocomplete="off">
                      <span *ngIf="invalidPassword"  class="p-2 my-2" style="color: red;font-size: 14px"> Invalid</span>
                      <span *ngIf="isNotSatisfyLength"  class="p-2 " style="color: red;font-size: 14px;text-align: center">Minimum username and password length are 5 characters</span>
                    </div>

                    <button type="submit" class="btn mt-4">Register</button>

                    <p class="mb-0 mt-4 text-center"><a class="nav-link active link" aria-current="page" routerLink="/login" routerLinkActive="active" >Login</a></p>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
